.footer {
    font-family: 'Roboto', sans-serif;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    height: 5rem;
    padding: 25px;
    gap: 25px;
    font-weight: 1000;
    margin: 0% 0 25px 0;
}

.footer-socials {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 15px;
    gap: 0 75px;
    margin: 0;
    padding: 0;
    position: relative;
}

.footer-socials li a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: calc(0.45vw + 1vh);
    transition: 0.15s ease-in;
    font-weight: 1000;
    position: relative;
}

.footer-socials li:first-child::before,
.footer-socials li:last-child::after {
    content: '';
    height: 3px;
    color: white;
    background: white;
    position: absolute;
    margin: 0;
    top: 50%;
}

.footer-socials li:first-child::before {
    left: 50px;
    width: calc(50% - 425px);
}

.footer-socials li:last-child::after {
    right: 50px;
    width: calc(50% - 425px);
}

.socials {
    font-size: calc(1.5vw + 1vh);
    transition: 0.2s ease-in;
}

.one:hover {
    color: rgb(247, 103, 59);
}

.two:hover {
    color: rgb(29, 142, 218);
}

.three:hover {
    color: rgb(255, 153, 0);
}

.four:hover {
    color: rgb(61, 216, 23);
}

.five:hover {
    color: rgb(163, 49, 216);
}

@media (max-width: 1000px) {
    .footer-socials li:first-child::before,
    .footer-socials li:last-child::after {
        height: 0;
    }
}

@media (max-width: 650px) {
    .footer-socials {
        gap: 15%;
    }
}

@media (max-width: 500px) {
    .navBar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .socials {
        font-size: calc(1.25vw + 1vh);
    }
}