:root {
    --primary-color: #ffffff;
}

.section {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(233, 233, 233);
}

.hero-text {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 1000;
    width: 85%;
    font-size: calc(3vw + 1vh);
}

.word-1 {
    background-image: linear-gradient(90deg, #50CC7F, #F5D100);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.word-2 {
    background-image: linear-gradient(90deg, rgb(15, 228, 26), rgb(29, 231, 204));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.word-3 {
    background-image: linear-gradient(90deg, rgb(231, 149, 42), rgb(233, 212, 20));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.type-animation-strings {
    display: block;
    color: white;
}

.typewriter-span {
    display: block;
}

@media (max-width: 700px) {

    .hero-text {
        font-size: calc(3vw + 1vh);
    }
    .browse-events-container h3 {
        font-size: calc(3vw + 1vh);
    }

    .btn {
        width: 115px;
        font-size: 10px;
    }
}