@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');

.card {
    font-family: 'Hind Siliguri', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.card:hover {
    scale: 1.025;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);
}

.cards-content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-info-link, .card-info-link:hover {
    text-decoration: none;
    color: black;
    height: 100%;
}

.event-type {
    font-size: calc(0.45vw + 1vh);
    margin: 5px;
    padding: 0;
    margin: 10px 0 10px 0;
}

@media (max-width: 550px) {
    .card-img {
        width: 100%;
    }

    .card-title {
        font-size: calc(0.85vw + 1vh);
    }

    .card-text {
        font-size: calc(0.50vw + 1vh);
    }
}

@media (max-width: 400px) {
    .events-container {
        grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    }
}

@media (max-width: 300px) {
    .events-container {
        margin: 0;
    }
}