
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');

:root {
    --primary-color: #ffffff;
}

.section {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: white;
}

.hero-text {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 1000;
    width: 85%;
    font-size: calc(3vw + 1vh);
}

.btn {
    font-family: 'Hind Siliguri', sans-serif;
    width: 75%;
    font-size: 24px;
    color: white;
    border: 1px solid var(--primary-color);
    transition: 0.2s ease-in;
}

.btn:hover {
    color: black;
    background: rgb(216, 216, 216);

}

.btn:active:focus {
    background: rgb(216, 216, 216);
    color: black;
}

.type-animation-strings {
    display: block;
    color: linear-gradient(90deg, rgb(218, 144, 49), rgb(204, 204, 5));
}

@media (max-width: 700px) {

    .hero-text {
        font-size: calc(3vw + 1vh);
    }
    .browse-events-container h3 {
        font-size: calc(3vw + 1vh);
    }

    .btn {
        width: 115px;
        font-size: 10px;
    }
}