* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(210deg, #225ba7, #852dd8);
  background-position: fixed;
  background-size: cover;
  color: black;
}

.card-link {
  text-decoration: none;
}

.browse-events-container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.browse-events-container h3 {
  font-family: 'Roboto', sans-serif;
  font-size: calc(2vw + 1vh);
  animation: bounce 0.5s infinite ease-out alternate;
}

@keyframes bounce {
  0% {
      translate: 0 0;
  }
  100% {
      translate: 0 -15%;
  }
}