* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(210deg, #225ba7, #852dd8);
  background-position: fixed;
  background-size: cover;
  color: black;
}

.card-link {
  text-decoration: none;
}




