* {
  margin: 0;
  padding: 0;
}

body {
  background: white;
  background-position: fixed;
  background-size: cover;
  color: black;
}

.container {
  width: 100%;
}

.card-link {
  text-decoration: none;
}




